.formattedHeadder {text-align: center;
    color: #eb9834;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
}
.VRHeader {text-align: center;
    color: #FF48AB;
    font-size: 40px;
}
.RHeader {text-align: center;
    color: #F62E2E;
    font-size: 40px;
}
.EUCHeader {text-align: center;
    color: #F9A01F;
    font-size: 40px;
}
.VUCHeader {text-align: center;
    color: #FFEA35;
    font-size: 40px;
}
.UCHeader {text-align: center;
    color: #BDE743;
    font-size: 40px;
}
.CHeader {text-align: center;
    color: #45CC56;
    font-size: 40px;
}
.VCHeader {text-align: center;
    color: #25D0BD;
    font-size: 40px;
}
.ECHeader {text-align: center;
    color: #23B7F2;
    font-size: 40px;
}
.OMGSCHeader {text-align: center;
    color: #4063CA;
    font-size: 40px;
}
.OMGSRHeader {text-align: center;
    font-size: 40px;
    background: -webkit-linear-gradient(#476CEC, #476CEC, #22C3C5, #C5CB37, #fd8c20, #ED1E7E, #ED1E7E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ERHeader {text-align: center;
    color: #B805D5;
    font-size: 40px;
}
.link-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}